.container .jumbotron, .container-fluid .jumbotron {
  background-color: #000;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  margin: 0 -15px 20px -15px;
  padding: 0;
  position: relative;
  .img-background {
    filter: blur(5px);
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
  }
  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
  p {
    color: #fff;
    &.author {
      font-weight: bold;
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
  .jumbotron-inner {
    padding: 20px;
    & img {
      padding-bottom: 25px;
      padding-top: 25px;
    }
  }
}
