<div class="page-header">
  <h1>Merchandise</h1>
</div>
<div class="row" ng-controller="merchandiseController">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cont in contents">
            <td>{{cont.name}}</td>
            <td>{{cont.description}}</td>
            <td>{{cont.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
