<div class="page-header">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <h3>Newly Registered Users</h3>
      <span>12</span>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <h3>Newly Registered Users</h3>
      <span>12</span>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <h3>Newly Registered Users</h3>
      <span>12</span>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <h3>Newly Registered Users</h3>
      <span>12</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <h3>Revenue</h3>
    <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series"></canvas>
  </div>
  <div class="col-md-6 text-center">
    <h3>Users Added in Last Month</h3>
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data2" chart-labels="vm.labels2"></canvas>
  </div>
</div>
