<div class="container-fluid">
  <div class="page-header">
    <h1>Rankings</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <uib-tabset type="pills">
        <uib-tab heading="{{ranking.year}}" select="vm.selectRankings(ranking._id)" ng-repeat="ranking in vm.rankings"></uib-tab>
      </uib-tabset>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="playerRankings in vm.selectedRanking.players">
          <div class="row">
            <div class="col-md-3">
              <a ui-sref="profile({ slug: '{{playerRankings.player.slug}}' })">
                <div class="overlay-wrapper">
                  <img ng-src="{{::playerRankings.player.imageUrl}}" class="img-rounded img-responsive" alt="{{::playerRankings.player.fullName}}">
                  <span class="overlay">#{{::playerRankings.rank}}</span>
                </div>
              </a>
            </div>
            <div class="col-md-2">
              <a ui-sref="profile({ slug: '{{playerRankings.player.slug}}' })">{{playerRankings.player.firstName}} {{playerRankings.player.lastName}}</a>
            </div>
            <div class="col-md-1">
              <p>{{playerRankings.player.position}}</p>
            </div>
            <div class="col-md-3">
              <p>{{playerRankings.player.hometownCity}}, {{playerRankings.player.hometownState}}</p>
            </div>
            <div class="col-md-3">
              <uib-rating state-on="'fa fa-star'" state-off="'fa fa-star-o'" ng-model="playerRankings.player.stars" readonly="true"></uib-rating>
              <span>{{playerRankings.player.score}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
